
@{
    ViewBag.Title = "Index";
}

<h2>Bonds:</h2>
<div data-ng-app="loanApp" data-ng-controller="loanCtrl">
    <div class="loader">
    <img src="~/Images/ajax-loader.gif" class="ajax-loader" data-ng-show="!loaded" />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bond</th>
        <th>Value</th>
        <th>Diff</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="bond in bonds">
        <td>{{bond.Issuer}}</td>
        <td>{{bond.Value}}</td>
        <td>{{bond.Delta}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <span class="badge">Updated: {{updateTime}}</span>
  </div>
</div>
@section scripts
{
  <script>
    var app = angular.module('loanApp', []);
    app.controller('loanCtrl', function ($scope, $http,$interval) {
      $scope.x = "Clara";
      $scope.bonds = [];
      $scope.updateTime = null;
      $scope.loaded = false;
      $scope.updateScreen = function () {
        $scope.loaded = false;
        $http({ method: "GET", url: "/Home/getTheBonds" }).
          success(function (data) {
            console.dir(data);
            $scope.bonds = data;
            $scope.updateTime = Date();
            $scope.loaded = true;
          }).
          error(function (data) {
            console.log("error");
            console.dir(data);
          });
      };
      $interval(function () {
        $scope.updateScreen();
      }, 50000);
      $scope.updateScreen();

    });
  </script>

}
